.cabecalho {
    padding: 50px 80px;
    background: var(--bg-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__menu {
    display: flex;
    align-items: center;
}

.cabecalho__btn-abrir-navbar {
    cursor: pointer;
    background: none;
    border: none;
}

    .cabecalho__btn-abrir-navbar:hover {
        transform: scale(1.06);
        transition: all 0.5s;
        opacity: 0.9
    }

.cabecalho__logo-sgo {
    padding-left: 60px;
}

.cabecalho__btn-sair {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    font-weight: 600;
    font-size: 20px;
    color: var(--azulEscuro);
    cursor: pointer;
    padding: 0;
}

    .cabecalho__btn-sair:hover {
        transform: scale(1.06);
        transition: all 0.5s;
        opacity: 0.9
    }

.cabecalho__btn-sair-icone {
    padding-right: 10px;
}