.rodape {
    background: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    white-space: nowrap;
}

.rodape div {
    padding: 50px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rodape__texto {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.rodape__texto strong {
    font-weight: 700;
}

.rodape__logo-puc{
    align-self: flex-end;
}