@model sgo_back_end.Models.Doador

@{
    ViewData["Title"] = "Editar";
}

<h1 class="cadastro-doador__titulo">Editar cadastro</h1>

<form asp-action="Edit" class="formulario-doador">
    <div asp-validation-summary="ModelOnly"></div>
    <label asp-for="Nome">Nome*</label>
    <input asp-for="Nome" type="text" class="voluntario__input-padrao" required>
    <span asp-validation-for="Nome" class="text-danger"></span>

    <label asp-for="Email" for="email">E-mail</label>
    <input asp-for="Email" type="email" class="voluntario__input-padrao" placeholder="exemplo@gmail.com">
    <span asp-validation-for="Email" class="text-danger"></span>

    <label asp-for="Telefone" for="telefone">Telefone *</label>
    <input asp-for="Telefone" type="tel" class="voluntario__input-padrao" required placeholder="(99) 99999-9999">

    <h2 class="doador__preenchimento-obrigatorio">* Campos de preenchimento obrigatório</h2>

    <div class="doador__botões-flex">
        <a asp-action="Index" class="doador__voltar botão-azul_hover">
            Voltar
        </a>
        <button type="submit" class="doador__cadastrar botão-rosa_hover">
            <img src="~/img/botão-salvar.png"/>
            Salvar
        </button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

